<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" providerName="Npgsql" connectionString="Server=ec2-54-163-226-48.compute-1.amazonaws.com;Port=5432;Database=ddm4ec7v2dv0lo;ssl=true;User Id=mksyictyilssdr; Password=H6cbJd0ptcfm-JBwUl0pIhfhwJ;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
            
    </startup>
</configuration>